<h1>投稿</h1>

投稿者：<%= @post.user&.name.presence || @post.user&.email || "（不明）" %><br>
<%= @post.content %><br>

<% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %><br><br>
<% end %>
<br>
<%= link_to "投稿一覧に戻る", posts_path %>