<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% # フラッシュメッセージ %>
    <% if notice.present? %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
        <p class="alert"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <p>
        ログイン中: <%= current_user.name.presence || current_user.email %>さん
        <%= link_to "アカウント編集", edit_user_registration_path %> |
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      </p>
    <% else %>
      <p>
        <%= link_to "ログイン", new_user_session_path %> |
        <%= link_to "サインアップ", new_user_registration_path %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
